.info-container {
    position: relative;
    width: 50vw;
    left: 50vw;
    transform: translate(-50%, 0);
    
    padding: 10px 10px 10px 10px;
    
    display: grid;
    column-gap: 10px;
    grid-template-areas: 
    "a b"
    "a c"
    "a d"
    "a e";

}

.info-container * {
    color: white;
    margin: 0px;
    text-align: left;
}

.info-left {
    grid-area: a;
    /* background-color: blue; */
    margin-right: 20px;
}

.info-left > button {
    display:block;
    position:absolute;
    border-radius: 10px;
    border: 1px solid white;
    background-color: black;
    padding: 5px;
}

.info-left > button:hover {
    background-color: gray;
    color:black;
}

.info-left > img {
    display: block;
    position: relative;
    width:18vw;
    min-width: 250px;
    max-width: 350px;
    border-radius: 10px;
    border: 1px solid white;
    top: 50%;
    transform: translate(0, -50%);
}

.info-right * {
    scrollbar-color: white black;
    scrollbar-width: thin;
}

.info-rt {
    grid-area: b;
    /* background-color: green; */
    border-bottom: 1px solid white;
    padding: 10px;

}

.info-rt button {
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
}

.info-rm {
    grid-area: c;
    /* background-color: purple; */
    /* overflow-y: scroll; */
    height: 180px;

    padding: 10px;
}

.info-rm-overview {
    height: 70%;
    border-radius: 15px;
    border: 1px solid white;
    
    overflow-y: scroll;
    /* scrollbar-width: none; */

    padding: 20px;
}

.info-rmb {
    grid-area: d;
    /* background-color: chartreuse; */
}

.info-rmb > h2 {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    padding-left: 10px;
}

.info-container .info-right .info-rb {
    grid-area: e;
    /* background-color: orangered; */
    overflow-x: scroll;
    /* height: 254px; */
    height:fit-content;
}

.info-rb .info-rb-grid {
    width: 1em;
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    gap: 5px;
}

.info-rb-grid div {
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
}

.info-rb-grid * > img {
    width: 10vw;
    max-width: 154px;
    min-width: 100px;
}