body {
    background-color: black;
}

.banner-container {
    width: 100%;
    height: 200px;
    background-color: black;
    color:white;

    border: 1px solid white;
    border-radius: 10px;

    /* text-align: center; */
}

.banner-container > h1 {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    /* translate -50% of the h1 element */
}

.card-container {
    background-color: transparent;
    width: 100%;
    height: auto;

    /* padding: 0px 0px 0px 20px; */

    text-align: center;
}

.info-review-wrapper {
    /* display: none; */
    transition-property: display;
    transition-duration: 1s;
}

*.disabled {
    display: none;
    transition-property: display;
    transition-duration: 1s;
}

.search-container {
    margin: 20px auto auto auto;
    text-align: center;
}

.search-bar-container {
    display: inline-block;
    width: 100%;
    
    /* width: fit-content; */
}

.search-container * > button {
    border: none;
    border-radius: 5px;
    color:white;
    background-color: coral;

    width: inline;
    height: fit-content;
    
    padding: 2px 4px 2px 4px;
    margin-left: 3px;
}

.search-bar-container > input {
    background-color: black;
    /* width: 15%; */
    flex: auto;

    color:white;

    height:15px;
    
    border: 1px solid gray;
    border-radius: 3px;

    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cardholder {
    display: inline-block;
    position: relative;

    perspective: 1200px;
}

.card {
    position: relative;
    /* float: left; */
    
    width: 300px;
    height: 450px;
    
    text-align: center;

    margin: 20px 20px auto auto;

    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.cardholder:hover .card {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    
    border: 1px solid white;
    border-radius: 10px;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front {
    color:white;
    overflow: hidden;
}

.card-back {
    background-color: black;
    color:white;
    transform: rotateY(180deg);
}


.dropDown {
    display: inline-block;
    /*width: 200px 처럼 사용자가 직접 너비를 지정할 수도 있다.*/
}
.dropDown:hover .subMenu {
    display: block;
}
/*
.dropDown:hover {} 까지만 하면
.dropDown 자체의 디자인을 변경하게 된다.
.dropDown:hover 뒤에 무엇이든 이어지면 명령을 수행하는 역할이 된다.
즉, 자식요소를 어떻게 할지 변경하는 정의하는 의미라고 생각하면 된다.
*/

.subMenu {
    position: absolute;
    display: none; /*처음에 안보이게*/
    width: inherit;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0,0,0,0.17);
    background-color: black;
    z-index: 10;
}

.subMenu a {
    display: block; /*a 태그는 가로배치 이므로 세로배치로 변경*/
    padding: 7px;
    text-align: center;
}

.subMenu a:hover {
    background: #eee;
}