/* @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;600&display=swap');

.review-container {
    margin: 0;
    color: white;
}

.review-container * {
    scrollbar-width: thin;
}

.review-page {
    position:relative;
    height: 300px;
    width: min(1024px, 50vw);
    
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;

    /* left: 50%; */
    transform: translate(25vw, 0);
    overflow-y: scroll;
    scrollbar-color: white black;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 100px; */
    gap: 5px;
    /* grid-auto-flow: column dense; */
}

.review-box {
    border-radius: 5px;
    border: 1px solid white;
    position:relative;
    /* display:grid; */
    /* grid-template-areas: 
    "a"
    "b"
    "c"; */
    /* float: left; */
    height: 150px;
    overflow: hidden;
}

.review-box * {
    padding: 0px;
    margin: 0px;
    gap:0px;
    /* width: 12vw; */
}

.review-box-header {
    /* grid-area: a; */
    height: fit-content;
    max-height: fit-content;
    width: 100%;

    font-size: max(20px, min(35px, 1.5vw));
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 600;
    font-style: normal;
    
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid white;
}

/* .review-box-header > h2 {
    font-size: 1.75vw;
    font-style: bold;
} */

.review-box-content {
    /* grid-area: b; */
    display: block;
    position: relative;
    overflow-y: scroll;

    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 200;
    font-style: normal;

    padding: 1vw;
    max-height: calc();
}

.review-box-footer {
    /* grid-area: c; */
    display: block;
    height: fit-content;
    position: absolute;
    background-color: rgb(20, 20, 20);
    bottom:0%;
    width: 100%;
    text-align: center;
    /* left:50%;
    transform: translate(-50%, 0); */
}

.review-box-footer > button {
    display: inline;
    background-color: black;
    color:white;
    padding: 1px 3px 0px 3px;
}

.review-writer {
    display: block;
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
    margin-top: 10px;
}

.review-writer > button {
    margin-left: 3px;
    border-radius: 5px;
    border: 1px solid white;
}