.review-container {
    margin: 0;
    color: white;
    min-width: 1024px;
}

.review-container * {
    scrollbar-width: thin;
}

.review-page {
    position:relative;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    height: 300px;
    width: 50vw;
    /* left: 50%; */
    transform: translate(25vw, 0);
    overflow-y: scroll;
    scrollbar-color: white black;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    /* grid-auto-flow: column; */
}

.review-box {
    border-radius: 5px;
    border: 1px solid white;
    /* float: left; */
    height: 200px;
}

.review-box * {
    padding: 0px;
    margin: 0px;
    /* width: 12vw; */
}

.review-box-header {
    grid-area: a;
    height: fit-content;
    border-bottom: 1px solid white;
}

.review-box-header > h2 {
    font-size: 1.75vw;
}

.review-box-content {
    grid-area: b;
    overflow-y: scroll;
    height: 50%;
}

.review-box-footer {
    grid-area: c;
    height: fit-content;
    position: absolute;
    bottom: 100%;
    transform: translate(50%, -50%);
}

.review-box-footer > button {
    background-color: black;
    color:white;
}